body {
  background: #f5f5f5;
  position: relative;
  min-height: 100vh;
  font-size: 16px;
}

.login {
  position: absolute;
  background-color: white;
  padding: 30px;
  border: 1px solid #fdfdfd;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  max-width: 340px;
  top: 50%;
  max-height: 300px;
  left: 50%;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.login input {
  padding: 0.75em 0.5em;
  /* color: #9E9E9E; */
  border: 1px solid rgba(205, 205, 205, 0.55);
  position: relative;
  z-index: 1;
}

.login input::placeholder {
  color:#9E9E9E;
}

.login input:focus,
.login input:active {
  z-index: 10;
}

.input-group {
  display: flex;
}

.input-group input {
  flex: 1;
  width: 50%;
}

.login input[type='submit'] {
  margin-top: 20px;
  max-width: 250px;
  align-self: center;
}

.login h3 + input {
  border-radius: 3px 3px 0px 0px;
}
.last--mod{
  border-radius: 0px 0px 3px 3px;
}

.login input {
  margin: -1px;
}

.login h3 {
  text-align: center;
  font-size: 2em;
  margin: 45px 0px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.login span {
  display: block;
  margin: 20px 0px 0px 0px;
}

.btn {
  font-weight: bold;
  cursor: pointer;
  color: white !important;
  border-radius: 3px;
  border-bottom: 2px solid #a25221;
  text-transform: uppercase;
  background-color: #f05700;
}

.login .btn {
  transition: all 0.25s linear;
  line-height: 1;
}

.login .btn:hover {
  line-height: 1;
  transform: scale(1.25);
}

.invalid {
  color: red;
  text-align: center;
  line-height: 2.2;
  font-weight: bolder;
  text-transform: uppercase;
  height: 55px;
  display: block;
  width: 100%;
  height: 55px;
}

.login.login-single {
  margin: 0 auto;
  position: initial;
  padding: 30px;
  border: none;
  background-color: #f5f5f5 !important;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  max-width: 920px;
  max-height: initial;
  box-shadow: none;
  transform: none;
}

.login.login-single input {
  margin: 6px;
}